.DS_Store
01_Sample Project/
01_A Database Application With A Web Front-end.pdf
01_Project Presentation Logistics.pdf
02_Project Presentation.pptx
02_Submit/05_contributions
*report/
~*
.python-version
*.ini